<div>
    <div>
        <button mat-button (click)="createUser()">
            <mat-icon>add_circle</mat-icon>
            Add new users
        </button>
       <!--  <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
        </mat-list> -->
    </div>
    <div>
        <app-user-list [users]="userSubject" 
        (userSelected)="userSelected($event)" 
        (userToEdit)="editUser($event)" 
        (userToRemove)="removeUser($event)"></app-user-list>
    </div>
</div>
