<mat-card fxFlex="80">
  <mat-card-header>
    <mat-card-title>{{user.name}}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editUser(user)">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="removeUser()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>

      <img class="md-card-image" mat-card-image src="{{user.profileUrl}}" alt="{{user.name}}">

    <div class="user-item-details">
      <p>
        <mat-icon>card_membership</mat-icon>
        {{user.role}}
      </p>
      <p>
        <mat-icon>mail_outline</mat-icon>
        {{user.mail}}
      </p>
      <p>
        <mat-icon>call</mat-icon>
        {{user.phoneNumber}}
      </p>
      <p>
        <mat-icon>location_on</mat-icon>
        {{user.location}}
      </p>
      <p>
        <mat-icon>date_range</mat-icon>
        {{user.joinDate}}
      </p>
    </div>


  </mat-card-content>
</mat-card>



<mat-card fxFlex fxLayout="column" fxLayoutGap="14px">
    <mat-slide-toggle [checked]="selectedUser?.active">
        is Active? </mat-slide-toggle>
</mat-card>






<!-- 

<mat-card fxFlex="80">
    <img class="md-card-image" mat-card-image src="{{selectedUser?.url}}" alt="{{selectedUser?.name}}">
        <h2>{{selectedUser?.name}}</h2>
      <p>{{selectedUser?.lastname}}</p>
</mat-card>

<mat-card fxFlex fxLayout="column" fxLayoutGap="14px">
    <mat-slide-toggle [checked]="selectedUser?.active">
        is Active? </mat-slide-toggle>
</mat-card>
 -->