<div class="login">
    <div class="card">
        <div class="card-body">
            <h4>Create Account</h4>
            <span>Fill information to create a new user</span>

            <div [formGroup]="newUserGroup"
                 class="form mt-2">
                <div class="form-group">
                    <label for="email"
                           class="bmd-label-floating">Full name</label>
                    <input formControlName="fullname"
                           class="form-control">
                    <span *ngIf="newUserGroup.controls.fullname.touched  && newUserGroup.controls.fullname.errors?.required"
                          class="bmd-error">Fullname is required</span>
                </div>
                <div class="form-group">
                    <label for="email"
                           class="bmd-label-floating">Email address</label>
                    <input formControlName="email"
                           class="form-control">
                    <span *ngIf="newUserGroup.controls.email.touched  && newUserGroup.controls.email.errors?.email"
                          class="bmd-error">Use a valid Email</span>
                    <span *ngIf="newUserGroup.controls.email.touched  && newUserGroup.controls.email.errors?.required"
                          class="bmd-error">Email is required</span>
                </div>
                <div class="form-group">
                    <label for="password"
                           class="bmd-label-floating">Password</label>
                    <input type="password"
                           formControlName="password"
                           class="form-control">
                    <span *ngIf="newUserGroup.controls.password.errors?.minlength"
                          class="bmd-error">Use more than 8 characters</span>

                    <span *ngIf="newUserGroup.controls.password.touched  && newUserGroup.controls.password.errors?.required"
                          class="bmd-error">Password is required</span>
                </div>

                <div class="form-group">
                    <label for="confirmPassword"
                           class="bmd-label-floating">Confirm Password</label>
                    <input type="password"
                           formControlName="confirmPassword"
                           class="form-control">
                    <span *ngIf="newUserGroup.controls.confirmPassword.errors?.minlength"
                          class="bmd-error">Use more than 8 characters</span>

                    <span *ngIf="newUserGroup.controls.confirmPassword.touched  && newUserGroup.controls.confirmPassword.errors?.required"
                          class="bmd-error">Password is required</span>
                    <span *ngIf="newUserGroup.controls.confirmPassword.touched  && newUserGroup.controls.confirmPassword.errors?.MatchPassword"
                          class="bmd-error">Password not match</span>
                </div>

                <div class="actions mt-5">
                    <p class=""><a href="#"
                           routerLink="/">Back</a></p>
                    <button type="button"
                            [disabled]="newUserGroup.invalid"
                            class="btn btn-raised btn-primary"
                            (click)="createAccount()">
                    Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>