<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{user.name}}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editUser(user)">
        <mat-icon>mode_edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="removeUser()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <div class="user-item-profile">

      <img class="md-card-image" mat-card-image src="{{user.url}}" alt="{{user.name}}">

      <mat-slide-toggle [checked]="user.active" [(ngModel)]="user.active">
      </mat-slide-toggle>
    </div>


    <div class="user-item-details">
      <p>
        <mat-icon>card_membership</mat-icon>
        {{user.role}}
      </p>
      <p>
        <mat-icon>mail_outline</mat-icon>
        {{user.mail}}
      </p>
      <p>
        <mat-icon>call</mat-icon>
        {{user.phoneNumber}}
      </p>
      <p>
        <mat-icon>location_on</mat-icon>
        {{user.location}}
      </p>
      <p>
        <mat-icon>date_range</mat-icon>
        {{user.joinDate}}
      </p>
    </div>


  </mat-card-content>
</mat-card>