
 <div>
    <input placeholder="Name" [(ngModel)]= "user.name">
</div>
<div [(ngModel)]= "user.active">
</div>
<div>
    <input placeholder="Role" [(ngModel)]= "user.role">
</div>

<div>
    <input placeholder="Mail" [(ngModel)]= "user.mail">
</div>


<div>
    <input placeholder="Phone Number" [(ngModel)]= "user.phoneNumber">
</div>


<div>
    <input placeholder="Location" [(ngModel)]= "user.location">
</div>

<div>
        <input  placeholder="Profile Url" [(ngModel)]= "user.url">
    </div>

    <div>
            <input placeholder="Description" [(ngModel)]= "user.description">
        </div>
    
<button (click)="save()">SAVE</button>
