<div class="login">
    <mat-card class="card">
        <h2>Sign in</h2>
        <span>with your Account</span>
        <div [formGroup]="myUserGroup"
             class="user-group">
            <mat-form-field>
                <input matInput
                       placeholder="Enter your email"
                       formControlName="email"
                       required>
                <mat-error *ngIf="myUserGroup.controls.email.touched  && myUserGroup.controls.email.errors?.email">Use a valid Email</mat-error>
                <mat-error *ngIf="myUserGroup.controls.email.touched  && myUserGroup.controls.email.errors?.required">Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       placeholder="Enter your password"
                       formControlName="password"
                       required>
                <mat-error *ngIf="myUserGroup.controls.password.errors?.minlength">Use more than 8 characters</mat-error>
                <mat-error *ngIf="myUserGroup.controls.password.touched  && myUserGroup.controls.password.errors?.required">Password is required</mat-error>
            </mat-form-field>

            <a (click)="openDialog()"
               class="forgot-password">Forgot Password?</a>

            <span>You can create a new account in the following link</span>
            <span class="bmd-error"
                  *ngIf="invalidForm">You can create a new account in the following link</span>
            <div class="actions mt-5">
                <p class="">
                    <a href="#"
                       routerLink="/create">Create account</a>
                </p>
                <button mat-raised-button
                        color="primary"
                        [disabled]="myUserGroup.invalid"
                        (click)="loginWithEMail()">Log in</button>

            </div>

            <div class="social-networks">
                <button mat-raised-button
                        color="warn"
                        (click)="loginGoogle()">Log in with Google</button>
                <button mat-raised-button
                        color="primary"
                        class="facebook"
                        (click)="loginFacebook()">Log in with Facebook</button>
            </div>
        </div>
    </mat-card>
</div>