

.card {
  padding: 3rem;
}

@media only screen and (min-width: 600px) {
  .card {
      width: 20rem;
  }
}

.card-body {
  margin: 1.7rem;
}

.card-header {
  display: flex;
  justify-content: center;
}

.actions {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.social-networks {
  display: flex;
  flex-direction: column;
  .facebook {
    background-color: darkblue;
    margin-bottom: 0.30rem;
  }
}

h2 {
  font-weight: 500;
}

.user-group {
  margin-top: 2rem;
  display: flex;
  flex-direction: column
}

.forgot-password {
  padding-bottom: 2rem;
}