
<div class=" login">

        <div class="card" style="width: 18rem;">
                <h5 class="card-header">Log In</h5>

                <img class="card-img-top" alt="Card image cap" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
                <div class="card-body">
                        <button class="btn btn-raised btn-primary" type="submit" (click)="login()">Use google</button>
                           <!-- /form -->
                </div>

             
        </div>
</div>
